.management-table-container {
  width: 1054px;

  border: 1px solid var(--primary);
  background: transparent;

  padding: 2.5rem 1.625rem 1.5625rem 4.1875rem;
  border-radius: 1.25rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

.management-table-container button {
  width: 83px;
  height: 34px;
  background: var(--primary);
  color: var(--light);
  border: none;

  font-size: 0.85rem;
  font-weight: bold;

  border-radius: 7px;
}

.management-table-container header {
  display: flex;
  justify-content: space-between;
}

.management-table-container header button {
  width: 106px;
  height: 40px;

  padding: 0.2rem;

  font-size: 0.8rem;
  font-weight: bold;
}

.pagination-container {
  font-weight: bold;
}

.pagination-container button {
  width: 30px;
  height: 30px;
}

.table-container {
  height: 350px;
  margin-top: 1.8125rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--primary);
}

th {
  font-weight: normal;
}

th:first-child, td:first-child {
  width: 5%;
}

th:nth-child, td:nth-child(3) {
  width: 35%;
}

td {
  font-weight: bold;
}

th, td {
  padding: 0.875rem 0;
}

.edit button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.trash-icon {
  width: 24px;
  height: 24px;

  color: var(--primary);
}

.pagination-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.pagination-button-group {
  width: 17%;
}
